/* zlim css 
   derived from simple Stylus tests */


   .comment {padding-left:5px;width:auto;}
   .contact-photo-wrapper .oneway-overlay {margin-top: -18px;margin-left: 30px;}
   .directory-photo-img {width:40px; height: auto;}
   .generic-content-wrapper {border: 1px solid var(--bs-border-color);border-radius: var(--bs-border-radius); margin-bottom: 0.5rem;}
   .nav {--bs-nav-link-padding-x: 1rem; --bs-nav-link-padding-y: 0rem;}
   .p-2 {padding: .1rem .5rem!important;}
   
/* typography */
   body {line-height: 1em;}
   /* .contact-info {font-size:0.9rem;line-height: 0.95rem;} */
   dd br {line-height: 0.1em;}
   .small, small {font-size: .775em;}